@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    color: #444;
    height: 100vh;
    width: 100%;
    background: rgb(9, 118, 121);
    background: linear-gradient(140deg, rgba(9, 118, 121, 1) 20%, rgba(0, 255, 162, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 60rem;
    width: 90rem;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    /* padding: 9.6rem 1.6rem; */
}

.crypto-select {
    display: inline-flex;
    justify-content: space-around;
    border-radius: 15px;
    overflow: hidden;
    width: 85%;
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.radio-input {
    display: none;
}

.radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    border: 0.2rem solid #40c057;
    border-radius: 8px;
    width: 18rem;
    height: 4.8rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.radio-input:checked + .radio-label {
    background-color: #40c057;
    color: #fff;
}

.price {
    /* border: none; */
    width: 45rem;
    height: 4rem;
    font-size: 2.4rem;
    border-radius: 30px;
    padding-inline: 1rem;
}

.short-long-choice {
    display: flex;
    column-gap: 2.4rem;
    margin-bottom: 4rem;
}

.btn {
    height: 4.6rem;
    width: 20rem;
    font-size: 2.4rem;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-long {
    background-color: #51cf66;
}

.btn-short {
    background-color: #ff6b6b;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.percentage-choice {
    display: flex;
    column-gap: 2.4rem;
}

.input-perc {
    height: 4.6rem;
    width: 20rem;
    font-size: 2.4rem;
    border-radius: 8px;
    padding-inline: 2rem;
}

.titles,
.values {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.title {
    font-size: 4.8rem;
    width: 12rem;
}

.value {
    font-size: 2.8rem;
    width: 12rem;
}
